*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  height: 58%;
  width: 1140px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.result {
  width: 711px;
}

.result__video {
  width: 100%;
  object-fit: cover;
  margin-bottom: 16px;
}

.content__details {
  height: 100%;
  width: 399px;
  display: flex;
  flex-direction: column;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  width: 194px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Oswald, Roboto, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 6px;
  font-size: 30px;
  font-weight: 700;
}

.content__video-card-description {
  width: inherit;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  display: block;
  text-decoration: none;
  background-color: #545050;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link_current:active {
  background-color: #545050;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 210px 194px;
  gap: 40px;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 20px;
}

.search-form__label {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
  background-color: #545050;
  border-style: solid;
  border-width: 2px 0;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  display: block;
  content: '';
  background-color: #fff;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.search-form__label:hover .search-form__label-text {
  text-decoration-color: #fff;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.title {
  font-family: Oswald, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;           /* Bold */
  font-style: normal;        /* или вообще убрать — это значение по умолчанию */
  font-size: 75px;
  line-height: 94%;          /* тут проценты допустимы */
  letter-spacing: 0;         /* или 0px */
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  align-self: self-end;
}

.more-button {
  margin: 3px;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.result__video-container {
  position: relative;
}
